.start-about-page {
    margin-top: 60%;
}

.portfolio-pic {
    height: 120px;
}

.gold-box-div {
    background-color: rgb(255, 215, 0, .25);
    color: white;
}

.about-me-h2 {
    font-family: 'Space Mono', monospace;
}

.about-me-pic-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
}

.bio-education-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding-top: 5%; */
    font-family: 'Space Mono', monospace;
}

.school {
    text-decoration: underline;
}

.type-of-degree {
    margin-top: -5%;
}

.about-arrow-div {
    display: flex;
    justify-content: space-around;
}